@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #fff;
    font-size: 1.25rem;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

.nav-title {
    color: var(--dark-01, #131313);
    font-size: 2.8rem;
    font-weight: 700;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 15px;
}

nav li a {
    text-decoration: none;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: auto;
}

.banner-title {
    color: var(--dark-01, #131313);
    text-align: center;
    font-size: 4rem;
}

.banner-desc {
    color: var(--dark-03, #727272);
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

main {
    max-width: 1150px;
    margin: 0 auto;
    margin-top: 85px;

}

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.quick-list {
    color: var(--dark-03, #727272);
    font-size: 45px;
    font-weight: 500;

}

.features-text {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;

}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 35px 45px;
}

.card-stats {
    color: var(--dark-02, #424242);
    font-size: 45px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;

}

.card-title {
    color: var(--dark-03, #727272);
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}

.sponsors-img-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    gap: 20px;
    align-items: center;
}

.sponsors-img-container img {
    width: 165px;
}

.features-section {
    display: flex;
    margin-top: 130px;
}

.card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-top: 15px;
}

.features-title {
    border-left: 5px solid #FF900E;
    padding-left: 23px;
}

.features-content {
    margin-right: 50px;
}

.years-badge {
    border-radius: 8px;
    background: #FF900E;
    width: 342px;
    color: #FFF;
    padding: 40px 42px;
}

.years-badge h2 {
    font-size: 65px;
    margin-bottom: 0px;
    text-align: center;
    margin-top: 0;
}

.badge-desc {
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin: 0 ;
}

/* responsive for mobile devices */

@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    .banner-title {
        color: var(--dark-01, #131313);
        text-align: center;
        font-size: 3rem;
    }

    .teams-container,
    .facts-card-container {
        flex-direction: column;

    }

    .teams-img-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .facts-card-container {
        gap: 20px;

    }

    .sponsors-img-container img {
        width: 75px;
    }

    .sponsors-img-container {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .sponsors {
        padding: 20px;
    }






}

/* responsive for Tablate devices */
@media screen and (min-width: 576px) and (max-width:960px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    .banner-title {
        color: var(--dark-01, #131313);
        text-align: center;
        font-size: 4rem;
    }

    .teams-container {
        flex-direction: column;
    }
}